.sidebar {
  padding: clamp(2rem, 5vh, 4.1rem) clamp(1rem, 5vw, 2.4rem);
  border-right: 1px solid #e7e7e9;
  height: 100vh;
  position: sticky;
  top: 0;
  .header {
    margin-bottom: 5rem;
  }
}

.header {
  font-family: "Aclonica", sans-serif;
  z-index: 5;
  user-select: none;
}

.input_search {
  padding: 8px 5px 8px 32px;
  &:focus {
    border: 2px solid #d4cdcd;
  }
}
.btn-close-sidebar {
  margin-bottom: 1.5rem;
}
.border_filed {
  border: 1px solid red;
}
.icon_search {
  transform: translatey(50%);
  left: 10px;
}

.add {
  transition: all 0.3s linear;
  color: #898989;
}

.notes {
  transition: all 0.3s linear;
}
.notes-section {
  padding-top: 5rem;
  border-right: 1px solid #e7e7e9;
  width: 305px;
  transition: all 0.3s linear;
}

.pinned_notes {
  padding: 0rem 1.8rem;
  transition: all 0.3s linear;
}

.pinned_header {
  margin-bottom: 1.6rem;
}

.header_note {
  margin-bottom: 3px;
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: 550;
  user-select: none;
}

.card {
  transition: all 0.2s ease-in-out;
  padding: 1rem 1.6rem;
  height: 100%;
  width: 270px;
  border-radius: 0.8rem;
  &:hover {
    background-color: #f6f6f6;
  }
}
.note {
  line-height: 2rem;
  margin-bottom: 1.6rem;
  -webkit-line-clamp: 2;
  user-select: none;
}

.notes_normal_header {
  margin-top: 2rem;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  padding: 1rem 2.8rem;
}

.normal_cards {
  padding: 2.8rem 1.8rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.border_left {
  border-left: 4px solid #ec7160;
  padding-left: 1rem;
}

.details_note {
  padding: 11.4rem 3rem;
  width: 80rem;
  margin-right: auto;
  transition: all 0.3s linear;
  position: relative;
}

.header_note-de {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.date {
  font-size: 1.3rem;
  user-select: none;
}

.note-footer {
  align-items: baseline;
}
.note-de {
  font-size: 1.6rem;
  font-weight: 500;
  color: #303030;
  line-height: 3.5rem;
}

.container_details {
  height: 100%;
  width: calc(100 / 3);
  .empty_img_cards {
    width: 50%;
    height: 50%;
  }
}
.normal_card {
  padding-inline: 2rem;
}
.fa-plus {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  color: var(--color-white);
  background-color: #ec7160;
  border-radius: 50%;
  text-align: center;
  padding-top: 1.7rem;
  margin-left: auto;
  font-size: 3rem;
  right: 0;
  top: 100%;
  cursor: pointer;
}

.header-mo {
  display: none;
  position: sticky;
  top: 0;
  background-color: #ffffff00;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
  padding: 1.5rem 1.7rem;
  z-index: 1;
  backdrop-filter: blur(5px);
  button {
    z-index: 2;
  }
  .headr {
    margin-bottom: 0px;
  }
  .fi-sr-bars-sort {
    font-size: 2rem;
  }
  .icon_search-header {
    transform: translate(0, 0);
    width: 2rem;
    .fa-magnifying-glass {
      color: #303030;
    }
  }
}
.btn-search {
  transform: translateY(45%);
  left: 10px;
}
.search-mo {
  display: flex;
  justify-content: center;
  inset: 0;
  height: 117px;
  padding-top: 6rem;
  border-bottom: 1px solid #e7e7e960;
  transform: translateY(-100%);
  transition: all 0.3s linear;
}

.close_sider {
  display: none !important;
  font-size: 2rem;
  cursor: pointer;
}
.input_search-mo {
  width: 70vw;
}
.arrow {
  transition: all 0.3s linear;
  border: 1px solid #e7e7e9;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  padding: 0.5rem;
  top: 7%;
  transform: translate(100%, 100%);
  right: 13px;

  color: #898989;
  cursor: pointer;
}

.add_inputs {
  display: flex;
  justify-content: center;
  padding: 0rem 39.7rem 23.8rem 10.3rem;
  margin-right: auto;
}
.tittle_add {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3rem;
  align-self: flex-start;
}
.container_add_inputs {
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
  align-items: center;
  form {
    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      label {
        font-size: 1.3rem;
        line-height: 2rem;
        color: #898989;
      }
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 3.9rem;
}
.input_tittle,
.input_author {
  width: clamp(20rem, 88vw, 50rem);
  height: 4.5rem;
  border-radius: 7px;
  background-color: #f6f6f6;
  outline: none;
  padding-inline: 2rem;
}
.input_note {
  width: clamp(20rem, 88vw, 50rem);
  height: 15rem;
  border-radius: 7px;
  background-color: #f6f6f6;
  outline: none;
  padding: 1.5rem;
}
.buts_notes {
  flex-direction: row !important;
  gap: 3rem !important;
}
.button_add,
.button_add--pinned,
.add_more_btn {
  width: 10.4rem;
  height: 4rem;
  padding: 1rem 2.2rem;
  color: var(--color-white);
  font-size: 1.3rem;
  background-color: #ec7160;
  border-radius: 0.7rem;
}
.button_add--pinned {
  width: 13.8rem;
  padding-inline: 1.6rem;
}

.add_more {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: #f5dcdc63;
  backdrop-filter: blur(5px);
  z-index: 6;
  left: 50%;
  height: 37rem;
  width: 45rem;
  transform: translate(-50%, 50%) scale(0);
  border-radius: 1.5rem;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid #ffd4d43d;
  transition: all 0.3s linear;
}
.add_more_value {
  width: 100%;
  border-radius: 0.8rem;
  height: 15rem;
  background-color: #e7e7e9;
  outline: none;
  padding: 1.5rem;
  resize: none;
}
.close_icon {
  width: 35px;
  right: 10px;
  cursor: pointer;
}
.add_more_btn {
  width: 100%;
}
.label_add_more {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
}

.transition_scale {
  transform: translate(-50%, 50%) scale(1);
}

.container_search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
.empty_search {
  width: 6rem;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .container_search {
    align-items: normal;
  }
  .sidebar {
    width: 100%;
    position: fixed;
    padding: 2.1rem 2.4rem;
    transform: translateX(-100%);
    transition: all 0.3s linear;
    width: 203.36448669433594px;
    opacity: 0;
    z-index: 2;
  }
  .close_sider {
    display: block !important;
  }
  .header-mo {
    display: flex;
  }
  .notes-section {
    border-right: none;
    width: 100%;
    padding: 0;
  }
  .details_note {
    width: 100%;
    padding: 5.4rem 3rem;
  }
  .dis-mo {
    display: none;
  }
  .arrow {
    display: none !important;
  }
  .card {
    width: 100%;
  }
  .normal_card {
    padding-inline: 2.8rem;
  }
  .search-container,
  .container-sider .headr {
    display: none;
  }

  .add_inputs {
    padding: 6rem 1.6rem;
  }
  .header_note-de {
    font-size: 2.6rem;
  }
}

@media (max-width: 450px) {
  .add_more {
    width: 90vw;
  }
}

.sidebar_active {
  opacity: 1;
  transform: translateX(0);
  top: 0;
  display: block;
}
.dis-blo {
  display: block;
}
.opacity_active {
  opacity: 1;
  transform: translateX(0);
  top: 0;
}
.pad {
  padding-top: 3rem;
}

.header-mo_acvtive {
  background-color: #f6f6f66e;
  padding: 1.9rem 1.7rem 7.3rem;
  backdrop-filter: blur(5px);
}

.text-color-active {
  color: #303030;
}

.text-color-disactive {
  color: #898989;
}

.buttons {
  transition: all 0.3s ease-in-out;
  color: #303030;
  margin-top: 4rem;
}

.secDteTrans {
  transform: translateX(100%);
}

.rotate {
  transform: translate(100%, 100%) rotate(180deg);
}

.w-81 {
  width: 81%;
}
.wCardMove {
  width: 100% !important;
}
.m-auto {
  margin-right: auto;
  width: 100%;
}

.is-hiding {
  opacity: 0;
  pointer-events: none; /* Prevents clicks on the invisible element */
} /* From Uiverse.io by Nawsome */
.container_lodding {
  position: absolute;
  inset: 0;
  background-color: #ec706070;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.wheel-and-hamster {
  --dur: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
.empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  pointer-events: none;
  user-select: none;
  .note {
    font-size: 1.1rem;
  }
}
.empty_img {
  width: 50%;
}
.icon-add-note {
  box-shadow: -2px 9px 28px 9px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -2px 9px 28px 9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -2px 9px 28px 9px rgba(0, 0, 0, 0.13);
}
.details-hint {
  font-size: 1em;
  color: #898989;
}

.empty_img_cards {
  width: 18rem;
  height: 12rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(216, 144, 144, 0.11);
  backdrop-filter: blur(2px);
  transition: all 0.3s linear;
  z-index: 1;
}
.message_Successfully {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #e7e7e9;
  padding: 2rem;
  right: 0;
  top: 17%;
  transition: all 0.3s linear;
  transform: translateX(100%);
  border-top-left-radius: 1rem;
  opacity: 0;
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    bottom: 0;
    right: 0;
    background-color: #bd8b87;
    border-radius: 1rem 0 0 1rem;
    animation: messageSuccessfully 6s linear forwards;
  }
}

@keyframes messageSuccessfully {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.active_message {
  opacity: 1;
  transform: translateX(0);
}

.none {
  display: none !important;
}
@media (max-width: 450px) {
  .message_Successfully {
    width: 83%;
  }
}
.fa-check {
  font-weight: 500;
}
.error-message {
  color: red;
}
.message {
  font-size: clamp(1.3rem, 1.5vw, 1.9rem);
}
